.get-more{
    font-size: 57px;
    text-align: left;
    color: black;
    font-weight: bolder;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;

}

.ger-text{
    color: black;
    text-align: left;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}

.dashboard-img{
    height: 60vh;
    width: 80%;
    margin-bottom: 40px;
    margin-top: 60px;
}
.insight_content{
    width: 50%;
    align-self: center;
    margin-top: 50px;
    margin-bottom:30px ;
  
}

@media screen and (max-width: 768px){
    .insight_content{
        width: 80%;
        margin-bottom: -42px;
    }
    .dashboard-img{
        width: 100%;
    }
  }